body{
    background-color: #f8f9fa;
    overflow-x: hidden;
}

.btn{
    cursor: pointer;
    color: white !important;
}



.navbar{
    background-color: lightgray;
}

.card-header{
    background-color: lightgray;
    border-color: grey;
}
.card{
    border-color: grey;
}

.card{
    margin-bottom: 5px;
}

.card:first-of-type{
    margin-top: 5vh;
}

.card:last-of-type{
    margin-bottom:  5vh;
}


.badge-success{
    display: none;
}

.spinner{
    display: none;
}

.hide{
    display:none ;
}

#contractFunctionsCard{
    display: none;
}